<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Regatar Pontos Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-list no-lines>    
        <ion-item>        
          <ion-label position="floating">E-mail</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
       </ion-item>   
       <ion-item  *ngIf="email.invalid && (email.dirty || email.touched)" >      
         <ion-label color="danger" *ngIf="email.errors.required">Campo obrigatório.</ion-label>                    
       </ion-item>           
      <ion-item>
        <ion-button color="primary" (click)="pesquisarUsuario()">
          <ion-label>pesquisar</ion-label>
          <ion-icon slot="start" name="search"></ion-icon>
        </ion-button>
      </ion-item>
      </ion-list>
      <ion-radio-group formControlName="clienteId">                
        <ion-item *ngFor="let item of usuarios" >          
          <ion-label>{{item.nome}}</ion-label>
          <ion-radio slot="start"  value={{item.id}}></ion-radio>
        </ion-item> 
      </ion-radio-group>     
      <ion-list>
        <ion-item>
          <ion-label>Selecione um Programa de fidelidade </ion-label>
          <ion-select formControlName="programaFidelidadeId"  okText="OK" cancelText="Cancelar"  (ionChange)="carregarCamposItensProgramaFidelidade($event)" >
            <ion-select-option [value]="programaFidelidade.id" *ngFor="let programaFidelidade of programasFidelidade">{{programaFidelidade.nome}}</ion-select-option>                 
          </ion-select> 
        </ion-item>
        <ion-item  *ngIf="programaFidelidadeId.invalid && (programaFidelidadeId.dirty || programaFidelidadeId.touched)" >      
          <ion-label color="danger" *ngIf="programaFidelidadeId.errors.required">Campo obrigatório.</ion-label>                    
        </ion-item> 
        <ion-radio-group formControlName="campoItemProgramaFidelidadeId">                  
          <ion-item *ngFor="let campoItemProgramaFidelidade of campoItemProgramaFidelidades" >          
            <ion-label>Nome:{{campoItemProgramaFidelidade.nome}}  Pontos:{{campoItemProgramaFidelidade.quantidadePontos}}</ion-label>
            <ion-radio slot="start"  value={{campoItemProgramaFidelidade.id}}></ion-radio>
          </ion-item>          
        </ion-radio-group>
    </ion-list>

    <ion-button  color="primary" expand="block" type="submit" [disabled]="!formulario.valid" >      
      <ion-label>Resgatar</ion-label>
    </ion-button>
</form>
</ion-content>
