<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Estabelecimento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-list class="line-input" no-lines >    
        <ion-item >        
          <ion-label position="floating">Nome <em class="campo-obrigatorio">*</em></ion-label>
          <ion-input formControlName="nome" type="text"></ion-input>
       </ion-item>
       <ion-item class="item-danger" class="item-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)"  >      
          <ion-label color="danger" *ngIf="nome.errors.required">Campo obrigatório.</ion-label>                   
       </ion-item> 
      <ion-item>
         <ion-label position="floating">CNPJ</ion-label>
         <ion-input  formControlName="cnpj" type="number"></ion-input>
       </ion-item>      
       <ion-item>
          <ion-label position="floating">E-mail <em class="campo-obrigatorio">*</em></ion-label>         
         <ion-input formControlName="email" type="email" ></ion-input>
       </ion-item>   
       <ion-item class="item-danger"  class="item-danger" *ngIf="email.invalid && (email.dirty || email.touched)" >                
          <ion-label color="danger" *ngIf="email.errors.email">Formato de e-mail inválido.</ion-label>
      </ion-item>                     
       <ion-item>
         <ion-label position="floating">Ativo <em class="campo-obrigatorio">*</em></ion-label>  
         <ion-select  formControlName="ativo"  okText="OK" cancelText="Cancelar" >
            <ion-select-option [value]="true">Ativo</ion-select-option>
            <ion-select-option [value]="false">Inativo</ion-select-option>
         </ion-select>               
        </ion-item>  
        <ion-item  class="item-danger" *ngIf="ativo.invalid && (ativo.dirty || ativo.touched)" >      
          <ion-label color="danger" *ngIf="ativo.errors.required">Campo obrigatório.</ion-label>                   
       </ion-item>       
      <div formGroupName="EnderecoEstabelecimentos" >
          <ion-item>
              <ion-label for="rua" position="floating">Rua <em class="campo-obrigatorio">*</em></ion-label>
              <ion-input formControlName="rua" type="text" ></ion-input>
          </ion-item>
          <ion-item  class="item-danger" *ngIf="rua.invalid && (rua.dirty || rua.touched)" >      
            <ion-label color="danger" *ngIf="rua.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>              
          <ion-item>
            <ion-label for="numero" position="floating">Número <em class="campo-obrigatorio">*</em></ion-label>
            <ion-input formControlName="numero" type="number" ></ion-input>
          </ion-item>
          <ion-item  class="item-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)" >      
            <ion-label color="danger" *ngIf="numero.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>          
        <ion-item>
          <ion-label for="complemento" position="floating">Complemento</ion-label>
          <ion-input formControlName="complemento" type="text" ></ion-input>
        </ion-item>
         <ion-item>
          <ion-label for="cep" position="floating">Cep <em class="campo-obrigatorio">*</em></ion-label>
          <ion-input formControlName="cep" type="number" ></ion-input>
        </ion-item> 
        <ion-item class="item-danger"  *ngIf="cep.invalid && (cep.dirty || cep.touched)" >      
          <ion-label color="danger" *ngIf="cep.errors.required">Campo obrigatório.</ion-label>                   
        </ion-item>           
        <ion-item>
          <ion-label for="bairro" position="floating">Bairro <em class="campo-obrigatorio">*</em></ion-label>
          <ion-input formControlName="bairro" type="text" ></ion-input>
        </ion-item>
        <ion-item class="item-danger"  *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)" >      
          <ion-label color="danger" *ngIf="bairro.errors.required">Campo obrigatório.</ion-label>                   
        </ion-item>
        <ion-item>
          <ion-label for="cidade" position="floating">Cidade <em class="campo-obrigatorio">*</em></ion-label>
          <ion-input formControlName="cidade" type="text" ></ion-input>
        </ion-item>
        <ion-item class="item-danger"  *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)" >      
          <ion-label color="danger" *ngIf="cidade.errors.required">Campo obrigatório.</ion-label>                   
        </ion-item>           
        <ion-item>
          <ion-label for="uf" position="floating">UF <em class="campo-obrigatorio">*</em></ion-label>
          <ion-input formControlName="uf" type="text" ></ion-input>
        </ion-item>      
        <ion-item class="item-danger"  *ngIf="uf.invalid && (uf.dirty || uf.touched)" >      
          <ion-label color="danger" *ngIf="uf.errors.required">Campo obrigatório.</ion-label>                   
        </ion-item>       
      </div>     
      
      <ion-item>
        <ion-label position="floating" for="tipoEstabelecimentoId">Tipo Estabelecimento <em class="campo-obrigatorio">*</em></ion-label>
          <ion-select  formControlName="tipoEstabelecimentoId"  okText="OK" cancelText="Cancelar">
            <ion-select-option [value]="tipoEstabelecimento.id" *ngFor="let tipoEstabelecimento of tipoEstabelecimentos">{{tipoEstabelecimento.nome}}</ion-select-option>                 
        </ion-select>
      </ion-item>
      <ion-item  class="item-danger" *ngIf="tipoEstabelecimentoId.invalid && (tipoEstabelecimentoId.dirty || tipoEstabelecimentoId.touched)" >                
        <ion-label color="danger" *ngIf="tipoEstabelecimentoId.errors.required">Campo obrigatório.</ion-label>                   
      </ion-item>   

     <div formGroupName="telefone">
        <ion-item>
          <ion-label for="telefoneNumero1" position="floating">Telefone 1</ion-label>
          <ion-input formControlName="telefoneNumero1" type="tel" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Selecione um Tipo</ion-label>
          <ion-select formControlName="telefoneTipo1"  okText="OK" cancelText="Cancelar">
            <ion-select-option [value]="tipoTelefone" *ngFor="let tipoTelefone of tiposTelefone">{{tipoTelefone}}</ion-select-option>                 
          </ion-select>    
        </ion-item>
      </div>
      <ion-item>
        <ion-label position="floating">Site</ion-label>
        <ion-input formControlName="site" type="url"></ion-input>
      </ion-item>
      <div formGroupName="midiaSocial">
        <ion-item>
          <ion-label for="midiaSocialNome1" position="floating">Midia Social 1</ion-label>
          <ion-input formControlName="midiaSocialNome1" type="text" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label for="midiaSocialUrl1" position="floating">Midia Social Url 1</ion-label>
          <ion-input formControlName="midiaSocialUrl1" type="url" ></ion-input>
        </ion-item>
      </div>         
    </ion-list>   
    <ion-button color="secondary" class="btn_large" type="submit" expand="block" [disabled]="!formulario.valid" >Atualizar</ion-button >
    <ion-button color="primary" class="btn_large" [routerLink]="['/programaFidelidade/listaEstabelecimento',id]"  expand="block" >Programa Fidelidade</ion-button >
    <!-- <ion-button  [routerLink]="['/cartaoFidelidade/listaEstabelecimento',id]" expand="block">Cartão Fidelidade</ion-button > -->
    <!-- <ion-button color="primary" [routerLink]="'/estabelecimento/lista'"  expand="block" [queryParams]="{tipoUsuario:usuarioLogado[0].GrupoUsuario.nome}">Cancelar</ion-button >           -->
  </form>
</ion-content>
