<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pontuar Cliente</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" placeholder="Email Clientes" (ionChange)="pesquisarUsuario($event)" debounce="500">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-list class="line-input" no-lines>
      <ion-radio-group formControlName="clienteId">
        <ion-item *ngFor="let item of usuarios">
          <ion-label>{{item.nome}} - {{item.email}} </ion-label>          
          <ion-radio slot="start" value={{item.id}}></ion-radio>
        </ion-item>
      </ion-radio-group>      
      <ion-item>
        <ion-label position="floating">Valor Gasto <em class="campo-obrigatorio">*</em></ion-label>
        <ion-input type="text" formControlName="valorGasto"
            [brmasker]="{money: true, thousand: '.', type: 'num', decimalCaracter: ','}" maxlength="9"></ion-input>
      </ion-item>
      <ion-item class="item-danger" *ngIf="valorGasto.invalid && (valorGasto.dirty || valorGasto.touched)">
        <ion-label color="danger" *ngIf="valorGasto.errors.required">Campo obrigatório.</ion-label>
      </ion-item>
    </ion-list>

    <ion-button type="submit" color="primary" expand="block" [disabled]="!formulario.valid">
      <ion-label>Pontuar</ion-label>
    </ion-button>
  </form>
</ion-content>