<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of usuarios">
      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <img src="/assets/images/logo.png" class="perfil_65_img" alt="logo Fideliza Mais" width="100" height="100">   
            <ion-label> {{item.nome}} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="tertiary" class="btn_editar" [routerLink]="['/usuarios',item.id]">
              <ion-icon slot="start" name="create"></ion-icon>
              <ion-label>Editar</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- Necessário realizar um refactory para colocar não o ID da tabela de grupousuario, mas sim um código referente ao grupo e depois realizar a consulta -->
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['novo']" [queryParams]="{tipoUsuario:2}" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<router-outlet></router-outlet>
</ion-content>
