<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-menu-button  color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of usuarios" lines="none" [routerLink]="['/usuarios',item.id]" >
      <ion-thumbnail slot="start">
        <ion-img src="/assets/images/logo.png" class="perfil_65_img" alt="logo Fideliza Mais" width="100" height="100"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2> {{item.nome}} </h2>
        <p>
           {{item.email}}
        </p>
     </ion-label>
    </ion-item>
  </ion-list>
  <!-- Necessário realizar um refactory para colocar não o ID da tabela de grupousuario, mas sim um código referente ao grupo e depois realizar a consulta -->
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['novo']" [queryParams]="{tipoUsuario:2}" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
