<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of usuarios">
      <div class="item-note" slot="end">
          <ion-button [routerLink]="['/usuarios',item.id]">Novo</ion-button>
            {{item.nome}}
      </div>
    </ion-item>
  </ion-list>  
  <!-- Necessário realizar um refactory para colocar não o ID da tabela de grupousuario, mas sim um código referente ao grupo e depois realizar a consulta -->
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['novo']" [queryParams]="{tipoUsuario:2}" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<router-outlet></router-outlet>
</ion-content>
