<ion-header>
  <ion-toolbar>
    <ion-title>Pontuar Cliente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 

  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-list no-lines>    
        <ion-item>        
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
       </ion-item>            
       <ion-item>        
         <ion-button (click)="pesquisarUsuario()">pesquisar</ion-button>  
        </ion-item>            
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>Selecione um Tipo </ion-label>
          <ion-select formControlName="programaFidelidadeId"  okText="OK" cancelText="Cancelar">
            <ion-select-option [value]="programaFidelidade.id" *ngFor="let programaFidelidade of programasFidelidade">{{programaFidelidade.nome}}</ion-select-option>                 
          </ion-select> 
        </ion-item>
      <ion-radio-group formControlName="clienteId">        
        <ion-list-header>
          <ion-label>Clientes</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of usuarios" >          
          <ion-label>{{item.nome}}</ion-label>
          <ion-radio slot="start"  value={{item.id}}></ion-radio>
        </ion-item> 
      </ion-radio-group>
      <ion-item>        
        <ion-label position="stacked">Pontos</ion-label>
        <ion-input formControlName="quantidadePontos" type="text"></ion-input>
     </ion-item>     
    </ion-list>

    <ion-button ion-button type="submit" block>Salvar</ion-button >
</form>
</ion-content>
