<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista Estabecimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tipoUsuario == 'ADMINISTRADOR' || tipoUsuario == 'ESTABELECIMENTOS'" >
    <ion-item *ngFor="let item of estabelecimentos" >
      <div class="item-note" slot="end">
          <ion-button [routerLink]="['/estabelecimentos',item.id]">Editar</ion-button>          
        {{item.nome}}
      </div>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="tipoUsuario == 'CLIENTES'">
    <ion-item *ngFor="let item of estabelecimentoVos" >
      <div class="item-note" slot="end">          
          <ion-button *ngIf="item.usuarioEstahAssociado == false" (click)="associarClienteEstabelecimento(item.id)">Associar Programa</ion-button>                         
          <ion-button *ngIf="item.usuarioEstahAssociado == true" (click)="desassociarClienteEstabelecimento(item.id)">desassociar Programa</ion-button>                         
        {{item.nome}}        
      </div>
    </ion-item>
  </ion-list>


<ion-button *ngIf="tipoUsuario == 'ADMINISTRADOR'" [routerLink]="['novo']">Novo</ion-button>
<router-outlet></router-outlet>
</ion-content>
