<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Estabelecimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>     
    <ion-list *ngIf="tipoUsuario == 'ADMINISTRADOR' || tipoUsuario == 'ESTABELECIMENTOS'" >
      <!-- Estudar a possibilidade de mudar para card e colocar itens dentro do card para exibir as principais informações da empresa
      ver componente curso udemy ionic 4  -->
    <ion-item *ngFor="let item of estabelecimentos">
      <ion-grid class="ion-text-center border_1px">
        <ion-row>
          <ion-col>            
            <img src="/assets/images/logo.png" class="perfil_65_img" alt="logo estabelecimento" width="100" height="100">   
            <ion-label>{{item.nome}} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>            
            <ion-button expand="block" class="btn_editar" color="secondary" [routerLink]="['/estabelecimento',item.id]">
              <ion-icon slot="start" name="create"></ion-icon>
                <ion-label>Editar</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </ion-list>

     <ion-list *ngIf="tipoUsuario == 'CLIENTES'">
      <ion-item *ngFor="let item of estabelecimentoVos" lines="none" (click)="visualizarDetalhesEstabelecimento(item)">
        <ion-grid class="ion-text-left border_1px" >
          <ion-row >
            <ion-col class="ion-align-self-start" size="3">
                <img src="/assets/images/logo.png" class="perfil_65_img" alt="logo estabelecimento" width="100" height="100">
            </ion-col>
            <ion-col >
              <ion-label>
                <h2> {{item.nome}} </h2>                    
                <p>
                  <ion-icon class="icone" name="logo-whatsapp"></ion-icon> 
                  <span class="ion-text-wrap"> {{item.teleneCelular}}</span>
                </p>
                <p>
                  <ion-icon class="icone" name="happy"></ion-icon>                   
                  <span class="ion-text-wrap"> Você tem <strong>{{item.totalPontosCliente}}</strong> pontos</span>
                </p>
              </ion-label>
            </ion-col>
          </ion-row>  
        </ion-grid>
      </ion-item>
    </ion-list>

 <!--

    <ion-button size="small" expand="block" color="danger" (click)="desassociarClienteEstabelecimento(item.id)">
          <ion-label>Sair Progr. Fidelidade</ion-label>
          <ion-icon slot="start" name="exit"></ion-icon>
        </ion-button>


    <ion-list *ngIf="tipoUsuario == 'CLIENTES'">    
      <ion-item *ngFor="let item of estabelecimentoVos">
        <ion-grid class="ion-text-center border_1px">
          <ion-row>
            <ion-col>
              <img src="/assets/images/logo.png" class="perfil_65_img" alt="logo Fideliza Mais" width="100" height="100">
              <ion-label>{{item.nome}} </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" class="btn_editar" color="secondary" [routerLink]="['/estabelecimento',item.id]">
                <ion-icon slot="start" name="create"></ion-icon>
                <ion-label>Editar</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list> -->

  <!--<ion-list *ngIf="tipoUsuario == 'CLIENTES'">
    <ion-item *ngFor="let item of estabelecimentoVos">
      
          <ion-card style="width: 100%; background: #fff">  

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img src="/assets/images/logo.png" class="perfil_65_img" alt="logo Fideliza Mais" width="200" height="200"></ion-img>                   
              </ion-thumbnail>
               <ion-label>
                 <h2>{{item.nome}}</h2>
                 <p>
                     <ion-icon class="icone" name="home"></ion-icon> 
                     <span class="ion-text-wrap">{{item.site}}</span>
                 </p>
                 <p>
                     <ion-icon class="icone" name="logo-whatsapp"></ion-icon> 
                     <span class="ion-text-wrap">{{item.teleneCelular}}</span>
                 </p>
                 <p>
                     <ion-icon class="icone" name="logo-instagram"></ion-icon> 
                     <span class="ion-text-wrap">{{item.urlMidiaSocial}}</span>
                 </p>
                 <p>
                     <ion-icon class="icone" name="mail"></ion-icon> 
                     <span class="ion-text-wrap">{{item.email}}</span>
                 </p>
               </ion-label>
             </ion-item>
            
            
              <ion-card-content>
            
             <ion-item  style="margin-top: -20px">
               <ion-button  size="small" expand="block" color="tertiary" (click)="visualizarDetalhesEstabelecimento(item)"  >
                  
                 <ion-label size="small" >Detalhes</ion-label>
                 <ion-icon slot="start" name="add-circle"></ion-icon>
               </ion-button>
             </ion-item> 
             
             
              <ion-item *ngIf="item.usuarioEstahAssociado == true">
                <ion-button size="small" expand="block" color="danger" (click)="desassociarClienteEstabelecimento(item.id)">
                  <ion-label>Sair Progr. Fidelidade</ion-label>
                  <ion-icon slot="start" name="exit"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item *ngIf="item.usuarioEstahAssociado == false">
                <ion-button size="small" expand="block" color="success" (click)="associarClienteEstabelecimento(item.id)">
                  <ion-label size="small" >Entrar Progr. Fidelidade</ion-label>
                  <ion-icon slot="start" name="send"></ion-icon>
                </ion-button>
              </ion-item>
             
            </ion-card-content>
          </ion-card>
        
    </ion-item>
  </ion-list>-->

<ion-fab *ngIf="tipoUsuario == 'ADMINISTRADOR'" vertical="bottom" horizontal="end" slot="fixed" color="primary">
  <ion-fab-button [routerLink]="['/estabelecimento/novo']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
