<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Programas Fidelidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of programasFidelidade">
      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            {{item.nome}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" expand="block" color="secondary"
              [routerLink]="['//programaFidelidade/editar',item.id]">
              <ion-icon slot="icon-only" name="create"></ion-icon>
              Editar ou Esse botão
            </ion-button>
            <ion-button expand="block" color="secondary" [routerLink]="['/programaFidelidade/editar',item.id]">
              <ion-icon slot="start" name="create"></ion-icon>
              Editar ou Esse botão
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab *ngIf="exibeBotaoNovo"  vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button [routerLink]="['/programaFidelidade/novo',id]" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<router-outlet></router-outlet>
</ion-content>
