<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueci Minha Senha</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-list class="line-input" no-lines >    
       <ion-item>
          <ion-label position="floating">E-mail <em class="campo-obrigatorio">*</em></ion-label>         
         <ion-input formControlName="email" type="email" ></ion-input>
       </ion-item>   
       <ion-item class="item-danger"  *ngIf="email.invalid && (email.dirty || email.touched)" >      
        <ion-label color="danger" *ngIf="email.errors.required">Campo obrigatório.</ion-label>           
        <ion-label color="danger" *ngIf="email.errors.email">Formato de e-mail inválido.</ion-label>
       </ion-item>       
    </ion-list> 
  <ion-button color="secondary" type="submit" [disabled]="!formulario.valid" expand="block">Gerar Senha</ion-button >
</form>
</ion-content>
