<ion-header>
  <ion-toolbar  class="toolbar-background">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title color="light">
      Fideliza Mais
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="">
 <div class="cabecalho">
   <div class="ion-text-center">
      <h1 class="fideliza">Fideliza +</h1>
      <ion-label>Olá! {{ usuarioLogado[0].nome }}</ion-label>
   </div>
   <!-- <div class="ion-text-center">
      <ion-label>seja bem-vindo ao <strong>Fideliza Mais</strong></ion-label>
   </div>   -->
   <br><br>
 </div>
 
  <ion-grid class="grid">    
     <div class="content">
         <ion-row style="padding-top: 30px;" >
            <ion-col [routerLink]="'/estabelecimento/lista'" [queryParams]="{tipoUsuario:usuarioLogado[0].GrupoUsuario.nome}">
            <div style="text-align: center">      
               <h3>Estabelecimentos</h3>
               <br>
            </div>
            </ion-col>
         </ion-row> 
         <ion-row >
            <ion-col [routerLink]="'/usuarios/meuPerfil'" class="perfil">
            <div style="text-align: center">      
               <h3>Meu perfil</h3>
               <br>
            </div>
            </ion-col>
         </ion-row>   
         <ion-row  *ngIf="usuarioLogado[0].GrupoUsuario.nome === 'ESTABELECIMENTOS'" >
            <ion-col [routerLink]="'/pontosClientePontuar'">
            <div style="text-align: center">                
               <h3>
                  <ion-icon style="vertical-align: bottom;" slot="start" name="add"></ion-icon>
                  Pontuar Cliente
               </h3>
               <br>
            </div>
            </ion-col>
         </ion-row>  
         <ion-row  *ngIf="usuarioLogado[0].GrupoUsuario.nome === 'ESTABELECIMENTOS'" >
            <ion-col [routerLink]="'/pontosClienteResgatar'">
            <div style="text-align: center">    
               <h4>
                  <ion-icon style="vertical-align: bottom;" slot="start" name="remove"></ion-icon>
                  Resgatar Pontos Cliente
               </h4>
               <br>
            </div>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col  (click)="logoff()" class="logout">
            <div style="text-align: center">      
               <h3><ion-icon name="exit"></ion-icon> Sair</h3>
               <br>
            </div>
            </ion-col>     
            
         </ion-row>
    </div>
  </ion-grid>
  
</ion-content>
