<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Novo Estabelecimento</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <ion-list no-lines>    
          <ion-item>        
            <ion-label position="floating">Nome <em class="campo-obrigatorio">*</em></ion-label>
            <ion-input formControlName="nome" type="text"></ion-input>
         </ion-item>
         <ion-item  *ngIf="nome.invalid && (nome.dirty || nome.touched)" >      
            <ion-label color="danger" *ngIf="nome.errors.required">Campo obrigatório.</ion-label>                   
        </ion-item> 
         <ion-item>
            <ion-label position="floating">Cnpj</ion-label>
           <ion-input formControlName="cnpj" type="number"></ion-input>
         </ion-item>      
         <ion-item>
            <ion-label position="floating">E-mail <em class="campo-obrigatorio">*</em></ion-label>         
           <ion-input formControlName="email" type="email" ></ion-input>
         </ion-item> 
         <ion-item  *ngIf="email.invalid && (email.dirty || email.touched)" >                
           <ion-label color="danger" *ngIf="email.errors.email">Formato de e-mail inválido.</ion-label>
         </ion-item>                     
         <div formGroupName="EnderecoEstabelecimento" >
            <ion-item>
                <ion-label for="rua" position="floating">Rua <em class="campo-obrigatorio">*</em></ion-label>
                <ion-input formControlName="rua" type="text" ></ion-input>
            </ion-item> 
            <ion-item  *ngIf="rua.invalid && (rua.dirty || rua.touched)" >      
              <ion-label color="danger" *ngIf="rua.errors.required">Campo obrigatório.</ion-label>                   
            </ion-item>          
           <ion-item>
              <ion-label for="numero" position="floating">Número <em class="campo-obrigatorio">*</em></ion-label>
              <ion-input formControlName="numero" type="number" ></ion-input>
          </ion-item>
          <ion-item  *ngIf="numero.invalid && (numero.dirty || numero.touched)" >      
            <ion-label color="danger" *ngIf="numero.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>          
          <ion-item>
            <ion-label for="complemento" position="floating">Complemento</ion-label>
            <ion-input formControlName="complemento" type="text" ></ion-input>
          </ion-item>
           <ion-item>
            <ion-label for="cep" position="floating">Cep <em class="campo-obrigatorio">*</em></ion-label>
            <ion-input formControlName="cep" type="number" ></ion-input>
          </ion-item>
          <ion-item  *ngIf="cep.invalid && (cep.dirty || cep.touched)" >      
            <ion-label color="danger" *ngIf="cep.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>           
          <ion-item>
            <ion-label for="bairro" position="floating">Bairro <em class="campo-obrigatorio">*</em></ion-label>
            <ion-input formControlName="bairro" type="text" ></ion-input>
          </ion-item>
          <ion-item  *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)" >      
            <ion-label color="danger" *ngIf="bairro.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>           
          <ion-item>
            <ion-label for="cidade" position="floating">Cidade <em class="campo-obrigatorio">*</em></ion-label>
            <ion-input formControlName="cidade" type="text" ></ion-input>
          </ion-item>
          <ion-item  *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)" >      
            <ion-label color="danger" *ngIf="cidade.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>           
          <ion-item>
            <ion-label for="uf" position="floating">UF <em class="campo-obrigatorio">*</em></ion-label>
            <ion-input formControlName="uf" type="text" ></ion-input>
          </ion-item>
          <ion-item  *ngIf="uf.invalid && (uf.dirty || uf.touched)" >      
            <ion-label color="danger" *ngIf="uf.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>       
        </div> 
        <ion-item>
          <ion-label position="floating" for="tipoEstabelecimentoId">Tipo Estabelecimento <em class="campo-obrigatorio">*</em></ion-label>
            <ion-select  formControlName="tipoEstabelecimentoId"  okText="OK" cancelText="Cancelar">
              <ion-select-option [value]="tipoEstabelecimento.id" *ngFor="let tipoEstabelecimento of tipoEstabelecimentos">{{tipoEstabelecimento.nome}}</ion-select-option>                 
            </ion-select>
        </ion-item>    
        <ion-item>
          <ion-label position="floating">Site</ion-label>
          <ion-input formControlName="site" type="url"></ion-input>
        </ion-item>
        <ion-item  *ngIf="tipoEstabelecimentoId.invalid && (tipoEstabelecimentoId.dirty || tipoEstabelecimentoId.touched)" >                
          <ion-label color="danger" *ngIf="tipoEstabelecimentoId.errors.required">Campo obrigatório.</ion-label>                   
        </ion-item>     
        <div *ngIf="formulario.get('MidiaSocials')">                                  
         <div formArrayName="Telefones" *ngFor="let item of formulario.get('Telefones').controls; let i = index;">
            <div [formGroupName]="i" >
              <ion-item>
                <ion-label for="numero" position="floating">Telefone {{i+1}}</ion-label>
                <ion-input formControlName="numero" type="tel" ></ion-input>
              </ion-item>              
              <ion-item>
                  <ion-label position="floating">Selecione um Tipo </ion-label>
                  <ion-select formControlName="tipo"  okText="OK" cancelText="Cancelar">
                    <ion-select-option [value]="tipoTelefone" *ngFor="let tipoTelefone of tiposTelefone">{{tipoTelefone}}</ion-select-option>                 
                  </ion-select> 
                </ion-item>
           </div>       
          </div>         
        </div>
        <div *ngIf="formulario.get('MidiaSocials') != null" >
        <div formArrayName="MidiaSocials" *ngFor="let item of formulario.get('MidiaSocials').controls; let i = index;">
          <div [formGroupName]="i" >
              <ion-item>
                <ion-label for="nome" position="floating">Midia Social {{i+1}}</ion-label>
                <ion-input formControlName="nome" type="text" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label for="url" position="floating">Url {{i+1}}</ion-label>
                <ion-input formControlName="url" type="url" ></ion-input>
                </ion-item>
            </div>       
        </div>
      </div>         
          <ion-item>
            <ion-label position="floating" for="usuarioId">Usuário Responsável <em class="campo-obrigatorio">*</em></ion-label>
              <ion-select  formControlName="usuarioId"  okText="OK" cancelText="Cancelar">
                <ion-select-option [value]="usuarioSemEstabelecimento.id" *ngFor="let usuarioSemEstabelecimento of usuariosSemEstabelecimento">{{usuarioSemEstabelecimento.nome}}</ion-select-option>                 
              </ion-select>
          </ion-item>
          <ion-item  *ngIf="usuarioId.invalid && (usuarioId.dirty || usuarioId.touched)" >                
            <ion-label color="danger" *ngIf="usuarioId.errors.required">Campo obrigatório.</ion-label>                   
          </ion-item>                                          
           
      </ion-list>        
        
      <ion-button color="primary" type="submit" expand="block" [disabled]="!formulario.valid">Salvar</ion-button>
  </form>
</ion-content>
  