<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Atualizar Senha</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <ion-list no-lines>    
        <ion-item>        
          <ion-label position="floating">Senha</ion-label>
          <ion-input formControlName="senha" type="password"></ion-input>
       </ion-item>
       <ion-item  *ngIf="senha.invalid && (senha.dirty || senha.touched)" >      
        <ion-label color="danger" *ngIf="senha.errors.required">Campo obrigatório.</ion-label>                   
       </ion-item>       
       <ion-item>
         <ion-label for="confirmarSenha" position="floating">Confirmar Senha</ion-label>         
         <ion-input formControlName="confirmarSenha" type="password" ></ion-input>
       </ion-item>  
       <ion-item  *ngIf="confirmarSenha.invalid && (confirmarSenha.dirty || confirmarSenha.touched)" >      
           <ion-label color="danger" *ngIf="confirmarSenha.errors.required">Campo obrigatório.</ion-label>                   
       </ion-item>
    </ion-list>   
    <ion-button color="primary" type="submit" [disabled]="!formulario.valid" expand="block" >Salvar</ion-button >
</form>
</ion-content>
